<% content_for :title, "Editar película" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Mostrar esta película", @movie %> |
  <%= link_to "Volver a la lista de películas", movies_path %>
</div>
