<% content_for :title, "Editar un cliente" %>

<h1>Editing client</h1>

<%= render "form", client: @client %>

<br>

<div>
  <%= link_to "Mostrar a este cliente", @client %> |
  <%= link_to "Volver a la lista de clientes", clients_path %>
</div>
